* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #1b1b32;
    --color-inputtext: #0a0a23;
    --color-border: #3b3b4f;
    --color-buttons: gray;
}

html {
    font-size: 62.5%;
}

/* Breakpoints */

/*  46rem = 460px/10px  */
@media (max-width: 46rem) {
    html {
        font-size: 62.5%;
    }
} 

/*  35rem = 350px/10px  */
@media (max-width: 35rem) {
    html {
        font-size: 60%;
    }
}

/*  30rem = 300px/10px  */
@media (max-width: 30rem) {
    html {
        font-size: 50%;
    }
}

body {
    background-color: var(--color-background);
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
}

.Starting-Page {
    display: grid;
    place-content: center;
}

.Starting-Page div{
    display: grid;
    margin: 0 auto;
    text-align: center;
}

.Starting-Page select{
    border: 1px solid #0a0a23;
    border-radius: 5px;
    color: var(--color-background);
    padding: 10px;
    margin: 30px 0 0 0;
    width: 100%;
    min-height: 2em;
}

 .Starting-Page .button {
    margin: 15px 0 0 0;
    place-self: center;
}

.title {
    font-size: 4rem; 
    margin-bottom: 0px;
    text-align: center;
}

h1, h4, p {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 50rem;
    min-width: 30rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid var(--color-border);
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"] {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
    margin: 12px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input[type="checkbox"] {
    display: inline;
    height: 20px;
    width: 20px;
    margin: 10px 0 0 0;
    position: relative;
    vertical-align: middle;
    bottom: 6px;
}

textarea {
    background-color: white;
    margin: 10px 0 0 0;
    width: 100%;
}

label.directory {
    background-color: var(--color-inputtext);
    padding: 10px 0 15px 10px;
}

ul {
    list-style-type: none;
}

ul.second-depth {
    margin: 0 0 0 25px;
}

.button {
    background-color: var(--color-background);
    border: 1px solid white;
    color: white;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--color-border);
    cursor: pointer;
    transition: 1s ease-in 2ms;
}

.btn-container {
    text-align: center;
}
